.Flatpages {
  padding-bottom: 4rem;
}

.title {
  font-size: 1.5rem;
  margin: 1.4rem 0;
  font-weight: bold;
  text-align: center;
}

.header {
  color: black;
}

.content {
  color: gray;
  padding: 1rem 1.2rem;
}

.icon {
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 0.8rem;
}
