.productInfo {
  background-color: #fff;
  padding-bottom: 40px;
}

.sectionTitle {
  color: #1296db;
  font-size: 0.35rem;
  margin: 0.2rem 0;
}

.description,
.description * {
  font-size: 0.33rem !important;
  line-height: 0.45rem !important;
  font-family: Arial, Helvetica, sans-serif !important;
  color: black !important;
}

.description p {
  margin-bottom: 0 !important;
  margin-top: 0.1rem !important;
}

.colors {
  text-align: center;
}

.colorIcon {
  margin-left: 0.05rem;
  margin-right: 0.05rem;
}

.colorName {
  color: gray;
  text-align: right;
  text-transform: lowercase;
  width: 28%;
}

.paramtName {
  font-size: 0.33rem;
  line-height: 0.45rem;
}

.paramValue {
  color: #8a8282;
  line-height: 0.45rem;
}
