.ProductInfo {
  background-color: #fff;
  box-shadow: 0 0.4rem 1.2rem -0.6rem lightgrey;
  height: 100%;
  margin-bottom: 3rem;
}

.colorIcon {
  height: 1.7rem;
  margin-right: 0.5rem;
  width: 1.7rem;
}

.colorName {
  color: gray;
  text-align: right;
  text-transform: lowercase;
  width: 28%;
}

.paramtName {
  font-size: 1rem;
}

.paramValue {
  color: #8a8282;
  font-size: 1rem;
}

.description,
.description * {
  color: black !important;
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 1rem !important;
  line-height: 1.2rem !important;
}

.description p {
  margin-bottom: 0 !important;
  margin-top: 0.1rem !important;
}
