.category {
  height: 155px;
  padding-bottom: 2px;
  padding-top: 7px;
  align-items: center;
  /* justify-content: center; */
}

.name {
  margin: 0.1rem 0;
  max-width: 80%;
}

.flexItem {
  margin: 3px !important;
  text-align: center;
}

.image {
  height: 80%;
  object-fit: contain;
  width: 80%;
}
