.categoryContainer {
  text-align: center;
}

.category {
  align-items: center;
  height: 10rem;
  margin: 0.1rem;
  padding-bottom: 0.1rem;
  padding-top: 0.5rem;
}

.name {
  color: black;
  line-height: 1.1rem;
  margin: 0.1rem 0;
  max-width: 80%;
}

.image {
  height: 80%;
  object-fit: contain;
  width: 80%;
}
