.category {
  margin: .1rem;
  height: 10rem;
  padding-bottom: .1rem;
  padding-top: .5rem;
  align-items: center;
}

.name {
  margin: 0.1rem 0;
  max-width: 80%;
  color: black;
}

.flexItem {
  text-align: center;
}

.image {
  width: 80%;
  height: 80%;
  object-fit: contain;
}
