.EmptyCart {
  top: 2.8rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100%;
  background-color: white;
  text-align: center;
  width: 100%;
  color: black;
}

.icon {
  text-align: center;
  margin: 0 auto;
  height: 170px;
}

.title {
  font-size: 1.75rem;
  margin: 1.8rem 0 0;
}

.continue {
  color: darkgrey;
  padding-bottom: 2.2rem;
}
