.EmptyCart {
  background: white;
  height: 100%;
  overflow: hidden;
  position: fixed;
  text-align: center;
  width: 100%;
}

.icon {
  object-fit: contain;
  width: 65%;
}

.title {
  font-size: 1.75rem;
  margin: 1.8rem 0 0;
}

.continue {
  color: darkgrey;
  padding-bottom: 2.2rem;
}
