.emptyCart {
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  background: white;
}

.emptyCartImage {
  width: 70%;
  object-fit: contain;
}

.emptyCartTitle {
  font-size: 0.63rem;
  margin: 20px 0 5px;
}

.emptyCartContinue {
  color: darkgrey;
  padding-bottom: 30px;
}
