*.iml
.idea/
.ipr
.iws
.env
*~
~*
*.diff
*.patch
*.bak
*.log
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.pyc
*.pyo
node_modules
bower_components/
npm-debug.log
.module-cache
.*.sw*
dist
dump.rdb
steam.dmg
.history/

.vscode/
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json

bundle*
