body {
  background-color: #f5f5f9;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 !important;
}

.am-list-body {
  border: none !important;
}

.am-list-body::after {
  display: none !important;
}

.am-modal-body {
  color: black !important;
  font-size: inherit !important;
}

.am-modal-content {
  text-align: inherit !important;
}

html.overlayVisible,
html.overlayVisible body {
  height: 100%;
  overflow: hidden;
  user-select: none;
}

.am-drawer-sidebar {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
