html {
  font-size: 14px !important;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f5f5f9;
}

html,
body {
  width: 100%;
  height: 100%;
  top: 0;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.am-list-body {
  border: none !important;
}

.am-textarea-label,
.am-textarea-control textarea,
.am-input-label,
.am-input-control input {
  font-size: 1rem !important;
}

.am-list-content {
  font-size: 1rem !important;
}