.Product {
  background: white;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.cart {
  align-items: center;
  height: 10rem;
  margin: 0.1rem;
  padding-bottom: 0.1rem;
  padding-top: 0.5rem;
}

.imageContainer {
  display: flex;
  justify-content: center;
  text-align: center;
}

.imageContainer img {
  height: 90%;
  object-fit: contain;
  width: 90%;
}

.noImage {
  fill: lightgray;
  height: 90%;
  width: 90%;
}

.info {
  padding: 0 0.6rem;
}

.title {
  color: black;
  font-size: 0.8rem;
  line-height: 0.9rem;
}

.price {
  margin-top: 0.4rem;
}

.isViewed {
  z-index: 1;
  position: absolute;
  top: 2px;
  left: 5px;
  fill: orange;
}
