.root {
  background: white;
  /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24); */
  display: block;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.imageContainer {
  display: flex;
  justify-content: center;
  text-align: center;
}

.imageContainer img {
  object-fit: contain;
  width: 90%;
  height: 90%;
}

.info {
  padding: 5px;
}

.title {
  color: black;
  font-size: 0.25rem;
  line-height: 0.25rem;
}

.price {
  color: #468847;
  font-size: 0.3rem;
  font-weight: bold;
  margin-top: 5px;
}
