.checkoutTrigger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  /* border-top: 1px solid rgb(214, 214, 214); */
  text-align: center;
  position: fixed;
  bottom: 0;
  font-weight: bold;
  box-shadow: 0 0 10px -3px lightgray;
}

.totalPrice {
  color: black;
  width: 50%;
  background: white;
  line-height: 40px;
}

.checkout {
  width: 50%;
  background: orange;
  line-height: 40px;
  color: white;
}
