.ProductPage {
  height: 100%;
  width: 100%;
}

.content {
  position: relative;
  width: 100%;
}

.firstScreen {
  background: white;
}

.name {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.6rem;
  margin-bottom: 0.6rem;
  text-align: center;
  width: 100%;
}

.headerLeft {
  align-items: center;
  color: white;
  display: flex;
}

.headerLeftIcon {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.7rem;
  fill: white;
}
