.CartItem {
  position: relative;
}

.remove {
  padding: 0.5rem;
  position: absolute;
  right: 0;
}

.container {
  padding: 0.4rem 0;
}

.imageContainer {
  align-items: center;
  align-self: center;
  display: flex;
  height: 7rem;
  justify-content: center;
  width: 35%;
}

.image {
  height: 80%;
  object-fit: contain;
  width: 80%;
}

.info {
  margin: 0 0.8rem;
  min-height: 5.5rem;
  width: 65%;
}

.section {
  width: 100%;
}

.name {
  color: black;
  font-size: 0.8rem;
  line-height: 0.8rem;
}
