.cartItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 0;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  height: 120px;
  width: 35%;
}

.image {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.info {
  width: 65%;
  margin: 0 10px;
}

.nameSection {
  width: 100%;
}

.name {
  color: black;
  padding-right: 10px;
}

.amountAndPriceSection {
  margin-top: 5px;
  width: 100%;
}

.bottom {
  width: 100%;
  height: 30px;
}
