.cartItem {
  padding: .4rem 0;
}

.remove {
  position: absolute;
  right: 0;
  padding: 0.5rem;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  height: 7rem;
  width: 35%;
}

.image {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.info {
  width: 65%;
  min-height: 5.5rem;
  margin: 0 0.8rem 0 .8rem;
}

.nameSection {
  width: 100%;
}

.name {
  color: black;
  line-height: 1.1rem;
}

.amountAndPriceSection {
  width: 100%;
}
