.backPanel {
  background-color: #2474cc;
  color: white;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
}

.backIcon {
  padding: 0 20px;
}

.flatpage * {
  color: black !important;
  font-size: 30px;
}
