.modal {
  -webkit-overflow-scrolling: touch;
  background-color: #f5f5f9;
  bottom: 0;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999 !important;
}
