.product {
  height: 100%;
  width: 100%;
}

.productContent {
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  position: relative;
  width: 100%;
}

.productFirstScreen {
  background: white;
}

.productTop {
  flex: 1;
  background-color: #2474cc;
  color: white;
  min-height: 40px;
  width: 100%;
  z-index: 1000;
}

.productTopBack {
  fill: white;
  padding: 0 10px;
  height: 40px;
}

.categoryName {
  font-size: 0.35rem;
  line-height: 0.35rem;
  text-align: center;
  margin-right: 0.5rem;
  width: 100%;
}

.productName {
  width: 100%;
  text-align: center;
  font-size: 0.4rem;
  font-weight: bold;
  line-height: 0.5rem;
  margin-bottom: 8px;
}
