.Product {
  height: 100%;
  width: 100%;
}

.content {
  position: relative;
  width: 100%;
}

.firstScreen {
  background: white;
}

.name {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.4rem;
  margin-bottom: 0.6rem;
  text-align: center;
  width: 100%;
}
