.Price {
  display: inline-block;
  text-align: center;
  height: 40px;
}

.value {
  font-weight: bold;
  color: black;
}

.oldValue {
  font-weight: bold;
  color: #b94a48;
  font-size: 12px;
  text-decoration: line-through;
}
