.Price {
  display: inline-block;
  text-align: center;
  line-height: 1rem;
  font-weight: bold;
}

.currentValue {
  color: black;
}

.oldValue {
  color: #b94a48;
  font-size: 0.8rem;
  text-decoration: line-through;
}

.singleValue {
  color: black;
  font-weight: bold;
}

