.Price {
  display: inline-block;
  text-align: center;
  /* height: 35px; */
  line-height: 16px;
  font-weight: bold;
}

.currentValue {
  color: black;
}

.oldValue {
  color: #b94a48;
  font-size: 12px;
  text-decoration: line-through;
}

.singleValue {
  color: black;
  font-weight: bold;
}

