.icon {
  width: 20px;
  height: 20px;
  padding: 10px;
  position: absolute;
  right: 0;
  fill: rgb(128, 128, 128);
  z-index: 1;
}

.optionIcon {
  width: 20px;
  height: 20px;
  fill: gray;
  margin-right: 10px;
}
