.icon {
  width: 20px;
  height: 20px;
  padding: 10px;
  position: absolute;
  right: 0;
  fill: gray;
  z-index: 100000000;
}

.optionIcon {
  width: 20px;
  height: 20px;
  fill: gray;
  margin-right: 10px;
}
