.icon {
  width: 1rem !important;
  height: 1rem !important;
  padding: 0.5rem;
  position: absolute;
  right: 0;
  fill: gray;
  z-index: 1;
}

.optionIcon {
  width: 3rem !important;
  height: 3rem !important;
  fill: gray;
}
