.Navbar {
  background-color: #2474cc;
  color: white;
  flex: 1;
  justify-content: space-between;
  min-height: 3rem;
  width: 100%;
  z-index: 1000;
}

.title {
  font-size: 1rem;
  text-align: center;
}

.back {
  fill: white;
  height: 1.8rem !important;
  padding: 0 0.4rem;
  width: 1.8rem !important;
}
