<!DOCTYPE html>
<html data-scale="true">

<head>
  <title>React Shop</title>
  <meta charset="utf-8" />
  <meta name="apple-touch-fullscreen" content="yes" />
  <meta content="yes" name="apple-mobile-web-app-capable" />
  <meta content="black" name="apple-mobile-web-app-status-bar-style" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
  />
  <link rel="stylesheet" type="text/css" href="common.css">
</head>

<body>
  <div id="app"></div>
  <script type="text/javascript" src="/static/dist/lib/<%= htmlWebpackPlugin.options.bundleName %>"></script>
  <script>
    // Disable zoom in Safari on iOS
    document.addEventListener('gesturestart', function (e) {
      e.preventDefault();
    });
  </script>
</body>

</html>
