.Loading {
  color: gray;
  font-size: 2rem;
  left: 50%;
  position: fixed;
  top: 46%;
  transform: translate(-50%, 0);
}

.icon {
  height: 2.7rem !important;
  margin: 0 0.6rem;
  width: 2.7rem !important;
}
