.productToCart {
  background: white;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 40px;
  text-align: center;
  box-shadow: 0 0 10px -3px lightgray;
}

.priceSection {
  color: black;
  font-weight: bold;
  text-align: center;
  width: 50%;
}

.cartSection {
  color: white;
  line-height: 40px;
  width: 50%;
  transition: 0.5s;
}
