.productToCart {
  background: white;
  width: 100%;
  min-height: 3rem;
  text-align: center !important;
  box-shadow: 0 0 0.9rem -0.1rem lightgrey;
  z-index: 100;
  position: fixed;
  bottom: 0;
}

.priceSection {
  color: black;
  font-weight: bold;
  height: 100%;
  width: 50%;
}

.cartSection {
  color: white;
  line-height: 3rem;
  width: 50%;
  transition: 0.5s;
}
