.Images {
  width: 100%;
}

.Carousel {
  background: white;
  width: auto !important;
  margin: 5px;
}

.dots {
  overflow-y: visible;
  overflow-x: scroll;
  width: 90%;
  position: relative;
  bottom: 0.5rem;
  margin: auto;
  padding: auto;
  min-width: 30%;
}

.dot {
  padding: 0.5rem 0;
}

.image {
  object-fit: contain;
}

.noImage {
  object-fit: contain;
  width: 70%;
  height: 70%;
  fill: lightgray;
}
