.Images {
  background: white;
  width: auto !important;
  margin: 5px;
}

.dots {
  overflow-y: visible;
  position: relative;
  bottom: 0.5rem;
  padding: 0 5px;
}

.image {
  object-fit: contain;
}
