.Header {
  background: #2474cc;
  color: white;
  height: 2.8rem;
  left: 0;
  opacity: 0.95;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}

.left {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.7rem;
  fill: white;
}

.title {
  font-size: 1.2.7rem;
}

.right {
  width: 2.7rem;
}
