.FinishedCart {
  align-content: center;
  background: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  text-align: center;
  width: 100%;
}

.icon {
  fill: orange;
  height: 55%;
  object-fit: contain;
  width: 55%;
}

.title {
  color: black;
  font-size: 2rem;
  margin: 1.8rem 0 0;
}

.continue {
  color: darkgrey;
  padding-bottom: 2.2rem;
}
