.cartTrigger {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  position: relative;
}

.amount {
  position: absolute;
  top: 0.4rem;
  right: 0.3rem;
  border-radius: 0.45rem;
  background-color: red;
  width: 0.9rem;
  height: 0.9rem;
  z-index: 1;
  font-size: 0.7rem;
  font-weight: bold;
  color: white;
}

.icon {
  fill: white;
}
