.CartTrigger {
  align-items: center;
  display: flex;
  height: 3rem;
  justify-content: center;
  position: relative;
  width: 3rem;
}

.amount {
  background-color: red;
  border-radius: 0.45rem;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  height: 0.9rem;
  position: absolute;
  right: 0.3rem;
  top: 0.4rem;
  width: 0.9rem;
  z-index: 1;
}

.icon {
  fill: white;
}
