.cartTrigger {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 2.5rem;
  position: relative;
}

.amount {
  position: absolute;
  top: 0.4rem;
  right: 0.3rem;
  border-radius: 0.4rem;
  background-color: red;
  width: 0.8rem;
  height: 0.8rem;
  z-index: 1;
  font-size: 0.6rem;
  /* font-weight: 900; */
  color: white;
}

.icon {
  fill: white;
}
