.cartTrigger {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 50px;
  position: relative;
}

.amount {
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 8px;
  background-color: red;
  width: 15px;
  height: 15px;
  z-index: 1;
  font-size: 10px;
  font-weight: 900;
  color: white;
}

.icon {
  fill: white;
}
