.Footer {
  /* background-color: #eeeef1; */
  background-color: #eaeaec;
  border-top: 1px solid lightgray;
  bottom: 0;
  height: 2.8rem;
  left: 0;
  opacity: 0.95;
  position: fixed;
  right: 0;
  text-align: center !important;
  width: 100%;
  z-index: 10;
}

.item {
  color: black;
  line-height: 0.8rem;
  padding: 0 1rem;
}

.label {
  font-size: 0.8rem;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}
