.ProductsCounter {
  top: 5rem;
  color: gray;
  position: fixed;
  right: 0.8rem;
}

.progress {
  top: 3rem;
  left: 0;
  position: fixed;
  right: 0;
  width: 100%;
  opacity: 0.7;
}

.progress * {
  border-color: orange !important;
}

.finished * {
  border-color: green !important;
}
