.ProductsCounter {
  bottom: 0.7rem;
  color: gray;
  position: fixed;
  right: 0.8rem;
}

.progress {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  width: 100%;
}

.progress * {
  border-color: orange !important;
}
