.cart {
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  position: relative;
}

.title {
  margin: 0.3rem 0;
  text-align: center;
  font-size: 0.4rem;
  font-weight: bold;
}

.items {
  border-top: 1px solid lightgray;
  background: white;
}

.footer {
  height: 100px;
}
