.Cart {
}

.section {
  width: 100%;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1.4rem 0;
  text-align: center;
}

.items {
  background: white;
  border-top: 1px solid lightgray;
  box-shadow: 0 5px 10px 0 rgb(235, 234, 234);
  width: 100%;
}
